snippet bang
	#!/usr/bin/env perl
	use v5.34;
	use warnings;
	use utf8;

	$0
snippet oldbang
	#!/usr/bin/env perl
	use strict;
	use warnings;
	use utf8;
	
	$0
snippet br
	{
		$0
	}
snippet exiterr
	exit \$?>>8 if (\$?);
